DeutscheWelle Data Engineering Challenge

9.05.2023

## Connect via Gmail API

In [ ]:
## Script that dowloads

In [114]:
import pandas as pd
import psycopg2
import os
import glob

In [115]:
#Script that corrects daily reports
!ls /Users/anya/SCIENCE/DW_Challenge/Junior_DE_Task/daily_reports/

daily_repo_filepath= "/Users/anya/SCIENCE/DW_Challenge/Junior_DE_Task/daily_reports/"

file1='2022-09-15-23-04-08-EDT-Historical-Report-ENTRFacebook-2022-06-16--2022-09-16.csv'
files=glob.glob(os.path.join(daily_repo_filepath,"*.csv"))
##date

2022-09-15-23-04-08-EDT-Historical-Report-ENTRFacebook-2022-06-16--2022-09-16.csv
2022-09-16-23-04-01-EDT-Historical-Report-ENTRFacebook-2022-06-17--2022-09-17.csv
2022-09-17-23-04-42-EDT-Historical-Report-ENTRFacebook-2022-06-18--2022-09-18.csv
2022-09-18-23-03-32-EDT-Historical-Report-ENTRFacebook-2022-06-19--2022-09-19.csv
2022-09-20-23-03-35-EDT-Historical-Report-ENTRFacebook-2022-06-21--2022-09-21.csv
2022-09-21-23-04-26-EDT-Historical-Report-ENTRFacebook-2022-06-22--2022-09-22.csv
2022-09-23-23-04-15-EDT-Historical-Report-ENTRFacebook-2022-06-24--2022-09-24.csv

In [119]:
files

['/Users/anya/SCIENCE/DW_Challenge/Junior_DE_Task/daily_reports/2022-09-18-23-03-32-EDT-Historical-Report-ENTRFacebook-2022-06-19--2022-09-19.csv',
 '/Users/anya/SCIENCE/DW_Challenge/Junior_DE_Task/daily_reports/2022-09-16-23-04-01-EDT-Historical-Report-ENTRFacebook-2022-06-17--2022-09-17.csv',
 '/Users/anya/SCIENCE/DW_Challenge/Junior_DE_Task/daily_reports/2022-09-21-23-04-26-EDT-Historical-Report-ENTRFacebook-2022-06-22--2022-09-22.csv',
 '/Users/anya/SCIENCE/DW_Challenge/Junior_DE_Task/daily_reports/2022-09-17-23-04-42-EDT-Historical-Report-ENTRFacebook-2022-06-18--2022-09-18.csv',
 '/Users/anya/SCIENCE/DW_Challenge/Junior_DE_Task/daily_reports/2022-09-20-23-03-35-EDT-Historical-Report-ENTRFacebook-2022-06-21--2022-09-21.csv',
 '/Users/anya/SCIENCE/DW_Challenge/Junior_DE_Task/daily_reports/2022-09-15-23-04-08-EDT-Historical-Report-ENTRFacebook-2022-06-16--2022-09-16.csv',
 '/Users/anya/SCIENCE/DW_Challenge/Junior_DE_Task/daily_reports/2022-09-23-23-04-15-EDT-Historical-Report-ENTRFacebook-2022-06-24--2022-09-24.csv']

In [204]:
data=pd.read_csv(daily_repo_filepath+file1)
#put all columns in dataframe in lower case and replace space with underscore, and ? with empty space
data.columns=data.columns.str.lower().str.replace(" ","_").str.replace("?","")

In [226]:
data.iloc[0,20:32]

sad                                                                               0
angry                                                                             0
care                                                                              0
video_share_status                                                        crosspost
is_video_owner                                                                   No
post_views                                                                       14
total_views                                                                      14
total_views_for_all_crossposts                                                 2671
video_length                                                               00:06:25
url                               https://www.facebook.com/372341662829366/posts...
message                           "24. lutego musieliśmy podjąć z mężem ważna i ...
link                              https://www.facebook.com/onetstylzycia/videos/...
Name: 0, dtype: object

In [154]:
#data column to create SQL database
for column in data.columns.values:
    #column.replace(" ", "_").lower()
    print(column.replace(" ", "_").lower() + str(type(data[column][0])).replace("class", "").replace("<", "").replace(">", "").replace("'", "").replace("numpy.int64","int").replace("numpy.float64","float").replace("str","VARCHAR") +',')    

#same with list comprehension
# types=([ column.replace(" ", "_") + str(type(data[column][0])).replace("class", "").replace("<", "").replace(">", "").replace("'", "").replace("numpy.int64","int").replace("numpy.float64","float").replace("str","VARCHAR") for column in data.columns.values])

page_name text,
user_name text,
facebook_id int,
page_category text,
page_admin_top_country text,
page_description text,
page_created text,
likes_at_posting int,
followers_at_posting int,
post_created text,
post_created_date text,
post_created_time text,
type text,
total_interactions text,
likes int,
comments int,
shares int,
love int,
wow int,
haha int,
sad int,
angry int,
care int,
video_share_status text,
is_video_owner? text,
post_views int,
total_views int,
total_views_for_all_crossposts int,
video_length text,
url text,
message text,
link text,
final_link float,
image_text float,
link_text text,
description float,
sponsor_id float,
sponsor_name float,
sponsor_category float,
overperforming_score_ float,

In [161]:
columns=[ column.replace(" ", "_").replace("?","").lower() for column in data.columns.values]
types=([ column.replace(" ", "_").replace("?","").lower() + str(type(data[column][0])).replace("class", "").replace("<", "").replace(">", "").replace("'", "").replace("numpy.int64","int").replace("numpy.float64","float").replace("str","VARCHAR") for column in data.columns.values])

In [314]:
## Upload data to the postres database
#connect database
conn = psycopg2.connect("host=localhost dbname=postgres user=postgres")
cur = conn.cursor()

#create database
cur.execute("""
    CREATE TABLE IF NOT EXISTS reports_test_varchar1(
    page_name VARCHAR,
    user_name VARCHAR,
    facebook_id VARCHAR,
    page_category VARCHAR,
    page_admin_top_country VARCHAR,
    page_description VARCHAR,
    page_created VARCHAR,
    likes_at_posting VARCHAR,
    followers_at_posting VARCHAR,
    post_created VARCHAR,
    post_created_date VARCHAR,
    post_created_time VARCHAR,
    type VARCHAR,
    total_interactions VARCHAR,
    likes VARCHAR,
    comments VARCHAR,
    shares VARCHAR,
    love VARCHAR,
    wow VARCHAR,
    haha VARCHAR,
    sad VARCHAR,
    angry VARCHAR,
    care VARCHAR,
    video_share_status VARCHAR,
    is_video_owner VARCHAR,
    post_views VARCHAR,
    total_views VARCHAR,
    total_views_for_all_crossposts VARCHAR,
    video_length VARCHAR,
    url VARCHAR,
    message VARCHAR,
    link VARCHAR,
    final_link VARCHAR,
    image_VARCHAR VARCHAR,
    link_VARCHAR VARCHAR,
    description VARCHAR,
    sponsor_id VARCHAR,
    sponsor_name VARCHAR,
    sponsor_category VARCHAR,
    overperforming_score_ VARCHAR
)
""")
conn.commit()

In [315]:
cur.execute("""
    COPY reports_test_varchar1 FROM '/Users/anya/SCIENCE/DW_Challenge/Junior_DE_Task/daily_reports/2022-09-18-23-03-32-EDT-Historical-Report-ENTRFacebook-2022-06-19--2022-09-19.csv' WITH DELIMITER ',' CSV;   
    
""")
conn.commit()

In [ ]:
## Upload data to the postres database
#connect database
conn = psycopg2.connect("host=localhost dbname=postgres user=postgres")
cur = conn.cursor()
# cur.execute('SELECT * FROM notes')
# one = cur.fetchone()
# all = cur.fetchall()

#create database
cur.execute("""
    CREATE TABLE reports1(
    id integer PRIMARY KEY,
    Page_Name text,
    User_Name text,
    Facebook_Id int,
    Page_Category text,
    Page_Admin_Top_Country text,
    Page_Description text,
    Page_Created text,
    Likes_at_Posting int,
    Followers_at_Posting int,
    Post_Created text,
    Post_Created_Date text,
    Post_Created_Time text,
    Type text,
    Total_Interactions text,
    Likes int,
    Comments int,
    Shares int,
    Love int,
    Wow int,
    Haha int,
    Sad int,
    Angry int,
    Care int,
    Video_Share_Status text,
    Is_Video_Owner text,
    Post_Views int,
    Total_Views int,
    Total_Views_For_All_Crossposts int,
    Video_Length text,
    URL text,
    Message text,
    Link text,
    Final_Link float,
    Image_Text float,
    Link_Text text,
    Description float,
    Sponsor_Id float,
    Sponsor_Name float,
    Sponsor_Category float,
    Overperforming_Score_ float

)
""")

conn.commit()

In [242]:
import os
import psycopg2
import numpy as np
import psycopg2.extras as extras
from io import StringIO


def execute_values(conn, df, table):
    """
    Using psycopg2.extras.execute_values() to insert the dataframe
    """
    # Create a list of tupples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL quert to execute
    query  = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_values() done")
    cursor.close()

def copy_from_file(conn, df, table):

    """
    Here we are going save the dataframe on disk as 
    a csv file, load the csv file  
    and use copy_from() to copy it to the table
    """
    # Save the dataframe to disk
    tmp_df = "./tmp_dataframe.csv"
    df.to_csv(tmp_df, index_label='id', header=False)
    f = open(tmp_df, 'r')
    cursor = conn.cursor()
    try:
        cursor.copy_from(f, table, sep=",")
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        os.remove(tmp_df)
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("copy_from_file() done")
    cursor.close()
    os.remove(tmp_df,data,)

def copy_from_stringio(conn, df, table):

    """
    Here we are going save the dataframe in memory 
    and use copy_from() to copy it to the table
    """
    # save dataframe to an in memory buffer
    buffer = StringIO()
    df.to_csv(buffer, index_label='id', header=False)
    buffer.seek(0)
    
    cursor = conn.cursor()
    try:
        cursor.copy_from(buffer, table, sep=",")
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("copy_from_stringio() done")
    cursor.close()

In [251]:
data.columns

Index(['page_name', 'user_name', 'facebook_id', 'page_category',
       'page_admin_top_country', 'page_description', 'page_created',
       'likes_at_posting', 'followers_at_posting', 'post_created',
       'post_created_date', 'post_created_time', 'type', 'total_interactions',
       'likes', 'comments', 'shares', 'love', 'wow', 'haha', 'sad', 'angry',
       'care', 'video_share_status', 'is_video_owner', 'post_views',
       'total_views', 'total_views_for_all_crossposts', 'video_length', 'url',
       'message', 'link', 'final_link', 'image_text', 'link_text',
       'description', 'sponsor_id', 'sponsor_name', 'sponsor_category',
       'overperforming_score_'],
      dtype='object')

In [265]:
data['final_link'].isin(['https://www.twitch.tv/dwnews_hangout']).value_counts()

final_link
False    7073
True        1
Name: count, dtype: int64

In [282]:
data['link'].isin(["https://trib.al/BEXjGHg"]).value_counts()

link
False    7073
True        1
Name: count, dtype: int64

In [294]:
data.iloc[43:45,30:35].isin(["https://trib.al/BEXjGHg"]).value_counts()

message  link   final_link  image_text  link_text
False    False  False       False       False        1
         True   False       False       False        1
Name: count, dtype: int64

In [297]:
data.iloc[43:45,30:35]

,message,link,final_link,image_text,link_text
43,Online detectives are sniffing the internet fo...,https://trib.al/BEXjGHg,https://www.twitch.tv/dwnews_hangout,NaN,DWNews_Hangout - Twitch
44,Die Fassade von Katar glitzert. Aber was ist d...,https://www.facebook.com/zeitonline/videos/798...,NaN,NaN,Geld Macht Katar: Wie leben die Gastarbeiter i...

In [300]:
data["link"].iloc[43]
data["message"].iloc[43]

"Online detectives are sniffing the internet for every detail on the war in Ukraine — with evident success. How do they do it and what's their motivation? Join us tonight on Twitch with Bellingcat to find out, live from 6pm CET."

In [244]:
conn = psycopg2.connect("host=localhost dbname=postgres user=postgres")

#copy_from_file(conn,data,'reports_test1')
#copy_from_stringio(conn,data,'reports_test')
execute_values(conn,data,'reports_test')

Error: invalid input syntax for type double precision: "https://www.twitch.tv/dwnews_hangout"
LINE 47: ...ut, live from 6pm CET.','https://trib.al/BEXjGHg','https://w...
                                                              ^

1

In [186]:
##insert data from csv
#SQL string:  
# INSERT INTO users VALUES (10, "hello@dataquest.io", "Some Name", "123 Fake St.")

#psycopg2 command to insert a single line using string interpolation instead of .format()
# cur.execute("INSERT INTO users VALUES (%s, %s, %s, %s)", (10, 'hello@dataquest.io', 'Some Name', '123 Fake St.'))
# conn.commit()

#psycopg2 to insert csv (not efficient because of the loop)
# import csv
# import psycopg2
# conn = psycopg2.connect("host=localhost dbname=postgres user=postgres")
# cur = conn.cursor()
# with open('user_accounts.csv', 'r') as f:
#     reader = csv.reader(f)
#     next(reader) # Skip the header row.
#     for row in reader:
#         cur.execute(
#         "INSERT INTO users VALUES (%s, %s, %s, %s)",
#         row
#     )
# conn.commit()

#psycopg2 command to upload data to Postgre database using efficient COPY command

conn = psycopg2.connect("host=localhost dbname=postgres user=postgres")
cur = conn.cursor()
with open(files[0], 'r') as f:
    # Notice that we don't need the csv module.
    next(f) # Skip the header row.
    cur.copy_from(f, 'reports_test1', sep=',')

conn.commit()

BadCopyFileFormat: extra data after last expected column
CONTEXT:  COPY reports_test1, line 1: "Onet Styl Życia,onetstylzycia,372341662829366,NEWS_SITE,PL,Najbardziej stylowy serwis w Polsce!,201..."

In [227]:
#create postgres database using csv using sqlalchemy
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

df = pd.read_csv(daily_repo_filepath+file1, sep=',')
# database = postgres
# user = postgres
# host = localhost
engine = create_engine('postgresql://postgres@localhost/postgres')

data.to_sql("report_sqlalchemy1", engine,if_exists='replace',index=False)

538

In [ ]:
##SQL script to process the data and push the data to GIT
## create tables

In [144]:
conn = psycopg2.connect("dbname=postgres user=postgres")
cur = conn.cursor()
cur.execute("""CREATE TABLE users(
    id integer PRIMARY KEY,
    email text,
    name text,
    address text
)
""")
conn.commit()

In [145]:
import psycopg2
conn = psycopg2.connect("host=localhost dbname=postgres user=postgres")
cur = conn.cursor()
cur.execute("INSERT INTO users VALUES (%s, %s, %s, %s)", (10, 'hello@dataquest.io', 'Some Name', '123 Fake St.'))
conn.commit()